$active-link: #466eb4;

$light-gray: #EEECEA;
$middle-gray: #D9D9D9;
$dark-gray: #8c8e8f;
$beige: rgba(255, 250, 229, .3);

$dusty-rose: #e6d9d8;
$blue-gray: #d8dfe6;

$header-color: white;//#D9D9D9;
$menu-color: tranparent;//$dusty-rose;
$store-card-bg-color: tranparent;//$beige;