.a-flex {
  display: flex;
  &__justify {
    &--space-between {
      justify-content: space-between;
    }
    &--center {
      justify-content: center;
    }
  }
  &__align-items {
    &--center {
      align-items: center;
    }
  }
  &__align-content {
    &--center {
      align-content: center;
    }
  }
}

.a-position {
  &__absolute {
    position: absolute;
  }
  &__fixed {
    position: fixed;
  }
  &__relative {
    position: relative;
  }
}