$active-link: #2f52b4;

$lightest-gray: #e9e8e8;
$light-gray: #D4D3D3;
$middle-gray: #D9D9D9;
$gray: rgb(210, 213, 214);
$dark-gray: #8c8e8f;
$dark-gray2: #494b4c;

$beige: #e6e6a1;
$test: #3e416a;
$dusty-rose: #d9d0d0;
$blue-gray: #D4D8DF;
$sandy: #DFDED4;


$light-red: #f5a8b3;
$regular-red: #f56c72;

$light-green: #b8e6a1;

$blue1: #3e416a;
$blue2: #555884;

$header-color: white; //#D9D9D9;
$menu-color: tranparent; //$dusty-rose;
$store-card-bg-color: tranparent; //$beige;

// Materials colors
$coated: #FFFDF6;
$black-marble: linear-gradient(145deg, #FFF 50%, #000000 50%);
$sakura: #E7DADB;
$thunderstorm: #788cb4;
$ash: #82817f;
$mint: #90b8a9;
$mustard: #e2cb84;
$graphite: #554d4f;
$jute: #c7af90;
$cornflower: #bac8d9;
$cacao: #95746b;
$powder: #e9d8d8;
$moonstone: #d1e0eb;
$natural: linear-gradient(90deg, #e0c587 0%, #c7b161 51.56%, #E0C587 100%);
$gray_fog: linear-gradient(180deg, #FFFFFF 34.31%, #7B7A7A 76.92%);
$fog: linear-gradient(180deg, #FFFFFF 34.31%, #7B7A7A 76.92%);
$gray: #7B7A7A;
$black: black;