:root {
  --soft-yellow-background: #FAF8F7;

  --dark-blue: #333F48;
  --orange: #CE982E;
  --light-gray: #A2AAAD;
  --red: #f56c72;
  --sale-red: #B33D25;
  --dark-gray: #8c8e8f;

  --tablet: 764px;
}

.big-serif-heading {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: var(--dark-blue);
}

.serif-heading {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: var(--dark-blue);
}

.regular-sans-text {
  text-transform: uppercase;
  color: var(--dark-blue);
}

.small-regular-heading {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  color: var(--dark-blue);
}

.regular-link {
  position: relative;
  width: max-content;
}

.regular-link:hover div {
  width: 0;
}

@supports (width: max-content) {
  .regular-link div {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--orange);
    transition: width .3s;
  }
}

.regular-link a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark-blue);
  transition: color .3s;
}

.regular-link:hover a {
  color: var(--orange);
}

.logo {
  transition: fill .3s;
}

.logo:hover {
  fill: white;
}

.logo--gray {
  fill: var(--light-gray);
}

.clean-button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.clean-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
