
/* Am i sure i need this?*/

.big-serif-heading {
  font-family: Times, 'Times New Roman', serif;
  font-weight: bold;
  color: var(--dark-blue);
}

.serif-heading {
  font-family: Times, 'Times New Roman', serif;
  font-weight: bold;
  color: var(--dark-blue);
}

.regular-sans-text {
  text-transform: uppercase;
  color: var(--dark-blue);
}

.small-regular-heading {
  font-family: Times, 'Times New Roman', serif;
  text-transform: uppercase;
  color: var(--dark-blue);
}

.regular-link {
  position: relative;
  width: max-content;
}

.regular-link:hover div {
  width: 0;
}

@supports (width: max-content) {
  .regular-link div {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--orange);
    transition: width .3s;
  }
}

.regular-link a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark-blue);
  transition: color .3s;
}

.regular-link:hover a {
  color: var(--orange);
}

.logo {
  transition: fill .3s;
}

.logo:hover {
  fill: white;
}

.logo--gray {
  fill: var(--light-gray);
}

.clean-button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.clean-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
