$serif-font: 'Playfair Display', serif;
$sans-font: 'Roboto', sans-serif;

$soft-yellow-background: #FAF8F7;

$dark-blue: #333F48;
$orange: #CE982E;
$light-gray: #A2AAAD;
$red: #f56c72;
$sale-red: #B33D25;

$mobile: 600px;
$tablet: 764px;
$horizontal-tablet: 1024px;

// Materials colors
$coated: #FFFDF6;
$cream: #fcedce;
$mint: #d5e4dd;
$light-gray-cloth: #d3d8da;
$natural-linen: #ddd8cd;
$pearl: #eee5d2;
$sand: #e2cd9e;
$powder: #e9d8d8;
$silver: #e3e9ee;
$moonstone: #d1e0eb;
$cacao: #d4c0af;
$terracotta: #d36438;
$chestnut: #f0bc84;
$olive: #677e65;
$darkblue: #3d5566;
$gray: #7B7A7A;
$graphite: #554d4f;

$gray_fog: linear-gradient(180deg, #FFFFFF 34.31%, #7B7A7A 76.92%);
$blue-line: linear-gradient(145deg, #FFF 35%, rgb(199, 200, 235) 51.56%, #FFF 65%);
$fog: linear-gradient(180deg, #FFFFFF 34.31%, #7B7A7A 76.92%);
$jupiter: linear-gradient(180deg, #d4c0af 35%, #FFF 51.56%, #d4c0af 65%);
$neptun: linear-gradient(180deg, #afc2d4 35%, #FFF 51.56%, #afc2d4 65%);
$black-marble: linear-gradient(145deg, #FFF 35%, #000 51.56%, #FFF 65%);

$natural: linear-gradient(90deg, #e0c587 0%, #c7b161 51.56%, #E0C587 100%);
$jute: #c7af90;
$black: black;
