$serif-font: 'Playfair Display', serif;
$sans-font: 'Roboto', sans-serif;

$soft-yellow-background: #FAF8F7;

$dark-blue: #333F48;
$orange: #CE982E;
$light-gray: #A2AAAD;

$mobile: 600px;
$tablet: 764px;
$horizontal-tablet: 764px;
