$serif-font: 'Playfair Display', serif;
$sans-font: 'Roboto', sans-serif;

$soft-yellow-background: #FAF8F7;

$dark-blue: #333F48;
$orange: #CE982E;
$light-gray: #A2AAAD;
$red: #f56c72;
$sale-red: #B33D25;

$mobile: 600px;
$tablet: 764px;
$horizontal-tablet: 764px;

// Materials colors
$coated: #FFFDF6;
$powder: #e9d8d8;
$moonstone: #d1e0eb;
$cacao: #d4c0af;
$gray_fog: linear-gradient(180deg, #FFFFFF 34.31%, #7B7A7A 76.92%);
$fog: linear-gradient(180deg, #FFFFFF 34.31%, #7B7A7A 76.92%);
$jupiter: linear-gradient(180deg, #d4c0af 35%, #FFF 51.56%, #d4c0af 65%);
$neptun: linear-gradient(180deg, #afc2d4 35%, #FFF 51.56%, #afc2d4 65%);
$gray: #7B7A7A;
$graphite: #554d4f;
$black-marble: linear-gradient(145deg, #FFF 35%, #000 51.56%, #FFF 65%);

$natural: linear-gradient(90deg, #e0c587 0%, #c7b161 51.56%, #E0C587 100%);
$jute: #c7af90;
$black: black;
